$primary-color: #fff;
$secondary-color: #333;
$font-family: 'Open Sans', sans-serif;

$text-color-black: #000;
$text-color-white: #fff;

$max-grid: 1440px;

$h1: 3rem;
$h2: 2.5rem;
$h3: 1.7rem;
$h1-mobile: 2rem;
$h2-mobile: 1.8rem;
$h3-mobile: 1.3rem;
$normal: 1rem;